{{define "adminspawidget"}}
{{$saml := .SAML}}
{{$url:= .EventServices.EventService.EventUrl}}
{{$nhsid:=.NHSId}}{{$usr:=.EventServices.EventService.User}}{{$org:=.EventServices.EventService.Org}}{{$role:=.EventServices.EventService.Role}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ICS Event Service</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/style.css">

    <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <a href="{{$url}}?act=widget&task=dashboard&op=600000&pathway={{.Pathway}}&nhs={{.NHSId}}&vers=-1&user={{.EventServices.EventService.User}}&org={{.EventServices.EventService.Org}}&role={{.EventServices.EventService.Role}}&saml={{.SAML}}" style="text-align:center"
                        target="iadmin" onclick="togglesidebar()">Pathways Dashboard</a>
                </li>
                <hr></hr>
                <li>
                    <a href="{{$url}}?act=subscriber&user={{.EventServices.EventService.User}}&org={{.EventServices.EventService.Org}}&role={{.EventServices.EventService.Role}}&saml={{.SAML}}" style="text-align:center" target="iadmin" onclick="togglesidebar()">Manage Subscriptions</a>
                </li>
                <hr></hr>
                <li>
                    <a href="{{$url}}?act=admin&task=restart&user={{.EventServices.EventService.User}}&org={{.EventServices.EventService.Org}}&role={{.EventServices.EventService.Role}}&saml={{.SAML}}" style="text-align:center" onclick="togglesidebar()">Re-Initialise Event Service</a>
                </li>
                <hr></hr>
                <li>
                    <a href="#configsrvcsmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Configure Services</a>
                    <ul class="collapse list-unstyled" id="configsrvcsmenu">
                        {{range .EventServices.ServiceConfigs}}
                        <li><a href="{{$url}}?act=services&task=get&op={{.}}&user={{$usr}}&org={{$org}}&role={{$role}}&saml={{$saml}}" target="iadmin" onclick="togglesidebar()">{{.}}</a></li>
                        {{end}}
                    </ul>
                </li>
                <li>
                    <a href="#configxmlmsgmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Configure Messages</a>
                    <ul class="collapse list-unstyled" id="configxmlmsgmenu">
                        {{range .EventServices.XMLMessages}}
                        <li><a href="{{$url}}?act=services&task=getxml&op={{.}}&user={{$usr}}&org={{$org}}&role={{$role}}&saml={{$saml}}" target="iadmin" onclick="togglesidebar()">{{.}}</a></li>
                        {{end}}
                    </ul>
                </li>
                <li>
                    <a href="#configwidgetmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Configure HTML</a>
                    <ul class="collapse list-unstyled" id="configwidgetmenu">
                        {{range .EventServices.HTMLWidgets}}
                        <li><a href="{{$url}}?act=services&task=gethtml&op={{.}}&user={{$usr}}&org={{$org}}&role={{$role}}&saml={{$saml}}" target="iadmin" onclick="togglesidebar()">{{.}}</a></li>
                        {{end}}
                    </ul>
                </li>
                <li>
                    <a href="#configxdwmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Configure Pathways</a>
                    <ul class="collapse list-unstyled" id="configxdwmenu">
                        {{range .EventServices.WorkflowDefinitions}}
                        <li><a href="{{$url}}?act=services&task=getxdw&op={{.}}&user={{$usr}}&org={{$org}}&role={{$role}}&saml={{$saml}}" target="iadmin" onclick="togglesidebar()">{{.}}</a></li>
                        {{end}}
                    </ul>
                </li>
                <li>
                    <a href="#newxdwmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Start New Workflow</a>
                    <ul class="collapse list-unstyled" id="newxdwmenu">
                        {{range .EventServices.WorkflowDefinitions}}
                        <li><a href="{{$url}}?act=XDW_Creator&task=getworkflow&pathway={{.}}&nhs={{$nhsid}}&user={{$usr}}&org={{$org}}&role={{$role}}&saml={{$saml}}" target="iadmin" onclick="togglesidebar()">{{.}} Workflow</a></li>
                        {{end}}
                    </ul>
                </li>
                <li>
                    <a href="#configxdsmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Configure XDS Meta</a>
                    <ul class="collapse list-unstyled" id="configxdsmenu">
                        {{range .EventServices.WorkflowXDWMeta}}
                        <li><a href="{{$url}}?act=services&task=getmeta&op={{.}}&user={{$usr}}&org={{$org}}&role={{$role}}&saml={{$saml}}" target="iadmin" onclick="togglesidebar()">{{.}}</a></li>
                        {{end}}
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i> Admin                       
                    </button>
                </div>
            </nav>
        </div>
        <div class="col-sm-12">
            <iframe onload="window.top.scrollTo(0,0);" frameborder="0" onload="resizeIframe(this)" style="width:100%;height: 100%;" name="iadmin" id="iadmin"></iframe>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').toggleClass('active');
        });
        $('#sidebar').toggleClass('active');
    });
</script>
<script>
    function togglesidebar() {
        $('#sidebar').toggleClass('active');
    }
</script>
<style>
    .wrapper {
        display: flex;
        align-items: stretch;
    }
    
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
    }
    
    #sidebar.active {
        margin-left: -250px;
    }
    
    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }
    
    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }
    
    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }
    
    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    
    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }
    
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }
    
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }
    
    a[data-toggle="collapse"] {
        position: relative;
    }
    
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
    }
</style>

</html>
{{end}}