{{define "dashboardwidget"}}
{{template "header" .}}
{{$url := .EventServices.EventService.EventUrl}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <img class="img-fluid left-block" src="/nhs-essex-trust-logo.jpeg" /></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1 style="color:darkblue;text-align: center;" class="center-block">{{.GetMappedId .Pathway}} Dashboard </h1>
        </div>
    </div>
    {{template "horizontalline"}}
    <div class="row text-center">
        <div class="col-sm-2">
            <div class="counter">
                <i class="fa fa-medkit fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="{{.Dashboard.Total}}" data-speed="1500"></h2>
                <a href="{{$url}}?act=widget&task=xdws&pathway={{.Pathway}}&vers=-1&user={{.EventServices.EventService.User}}&org={{.EventServices.EventService.Org}}&role={{.EventServices.EventService.Role}}&saml={{.SAML}}" target="dashboardItem">
                    <p class="count-text">Total</p>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="counter">
                <i class="fa fa-user-md fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="{{.Dashboard.InProgress}}" data-speed="1500"></h2>
                <a href="{{$url}}?act=widget&task=xdws&pathway={{.Pathway}}&status=open&vers=-1&user={{.EventServices.EventService.User}}&org={{.EventServices.EventService.Org}}&role={{.EventServices.EventService.Role}}&saml={{.SAML}}" target="dashboardItem">
                    <p class="count-text ">Open</p>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="counter">
                <i class="fa fa-thumbs-up fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="{{.Dashboard.Complete}}" data-speed="1500"></h2>
                <a href="{{$url}}?act=widget&task=xdws&pathway={{.Pathway}}&status=closed&vers=-1&user={{.EventServices.EventService.User}}&org={{.EventServices.EventService.Org}}&role={{.EventServices.EventService.Role}}&saml={{.SAML}}" target="dashboardItem">
                    <p class="count-text ">Closed</p>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="counter">
                <i class="fa fa-bullseye fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="{{.Dashboard.TargetMet}}" data-speed="1500"></h2>
                <a href="{{$url}}?act=widget&task=xdws&pathway={{.Pathway}}&status=met&vers=-1&user={{.EventServices.EventService.User}}&org={{.EventServices.EventService.Org}}&role={{.EventServices.EventService.Role}}&saml={{.SAML}}" target="dashboardItem">
                    <p class="count-text ">Target Met</p>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="counter">
                <i class="fa fa-bell fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="{{.Dashboard.TargetMissed}}" data-speed="1500"></h2>
                <a href="{{$url}}?act=widget&task=xdws&pathway={{.Pathway}}&status=missed&vers=-1&user={{.EventServices.EventService.User}}&org={{.EventServices.EventService.Org}}&role={{.EventServices.EventService.Role}}&saml={{.SAML}}" target="dashboardItem">
                    <p class="count-text ">Target Missed</p>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="counter">
                <i class="fa fa-bullhorn fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="{{.Dashboard.Escalated}}" data-speed="1500"></h2>
                <a href="{{$url}}?act=widget&task=xdws&pathway={{.Pathway}}&status=escalated&vers=-1&user={{.EventServices.EventService.User}}&org={{.EventServices.EventService.Org}}&role={{.EventServices.EventService.Role}}&saml={{.SAML}}" target="dashboardItem">
                    <p class="count-text ">Require Escalation</p>
                </a>
            </div>
        </div>
    </div>
    <div id="dashboardItemDIV">
        <iframe scrolling="auto" margin="0" frameBorder="0" height="150px" width="100%" id="dashboardItem" name="dashboardItem" src="{{$url}}?act=widget&task=xdws&pathway={{.Pathway}}&user={{.EventServices.EventService.User}}&org={{.EventServices.EventService.Org}}&role={{.EventServices.EventService.Role}}"></iframe>
    </div>
    <div id="workflowItemDIV">
        <iframe scrolling="auto" margin="0" frameBorder="0" height="500px" width="100%" id="workflowItem" name="workflowItem"></iframe>
    </div>
</body>
    <script>
        (function($) {
            $.fn.countTo = function(options) {
                options = options || {};

                return $(this).each(function() {
                    // set options for current element
                    var settings = $.extend({}, $.fn.countTo.defaults, {
                        from: $(this).data('from'),
                        to: $(this).data('to'),
                        speed: $(this).data('speed'),
                        refreshInterval: $(this).data('refresh-interval'),
                        decimals: $(this).data('decimals')
                    }, options);

                    // how many times to update the value, and how much to increment the value on each update
                    var loops = Math.ceil(settings.speed / settings.refreshInterval),
                        increment = (settings.to - settings.from) / loops;

                    // references & variables that will change with each update
                    var self = this,
                        $self = $(this),
                        loopCount = 0,
                        value = settings.from,
                        data = $self.data('countTo') || {};

                    $self.data('countTo', data);

                    // if an existing interval can be found, clear it first
                    if (data.interval) {
                        clearInterval(data.interval);
                    }
                    data.interval = setInterval(updateTimer, settings.refreshInterval);

                    // initialize the element with the starting value
                    render(value);

                    function updateTimer() {
                        value += increment;
                        loopCount++;

                        render(value);

                        if (typeof(settings.onUpdate) == 'function') {
                            settings.onUpdate.call(self, value);
                        }

                        if (loopCount >= loops) {
                            // remove the interval
                            $self.removeData('countTo');
                            clearInterval(data.interval);
                            value = settings.to;

                            if (typeof(settings.onComplete) == 'function') {
                                settings.onComplete.call(self, value);
                            }
                        }
                    }

                    function render(value) {
                        var formattedValue = settings.formatter.call(self, value, settings);
                        $self.html(formattedValue);
                    }
                });
            };

            $.fn.countTo.defaults = {
                from: 0, // the number the element should start at
                to: 0, // the number the element should end at
                speed: 1000, // how long it should take to count between the target numbers
                refreshInterval: 100, // how often the element should be updated
                decimals: 0, // the number of decimal places to show
                formatter: formatter, // handler for formatting the value before rendering
                onUpdate: null, // callback method for every time the element is updated
                onComplete: null // callback method for when the element finishes updating
            };

            function formatter(value, settings) {
                return value.toFixed(settings.decimals);
            }
        }(jQuery));

        jQuery(function($) {
            // custom formatting example
            $('.count-number').data('countToOptions', {
                formatter: function(value, options) {
                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                }
            });

            // start all the timers
            $('.timer').each(count);

            function count(options) {
                var $this = $(this);
                options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                $this.countTo(options);
            }
        });
    </script>
    <script>
        window.setInterval('refresh()', '{{.Op}}');

        function refresh() {
            window.location.reload();
        }
    </script>
{{template "footer" .}}
{{end}}