{{define "notificationwidget"}}{{template "header"}}{{$url := .EventServices.EventService.EventUrl}}{{$nhsid:=.NHSId}}{{$usr:=.EventServices.EventService.User}}{{$org:=.EventServices.EventService.Org}}{{$role:=.EventServices.EventService.Role}}{{$newevents
:= minus (len .DBEvents.Events) (len .DBEventAcks.EventAck)}}

<div class="row">
    <div class="container-fluid">
        <div class="col-sm-2 left-block-flex">
            <a title="List and acknowledge {{.Pathway}} Pathway Notifications" href="{{$url}}?act=events&task=list&pathway={{.Pathway}}&saml={{.SAML}}"><span>
                <button
                    class="btn btn-success btn-lg btn-block" type="button">{{if ne $newevents "0"}}<div style="color:black">{{$newevents}}</div>{{end}}{{if eq $newevents "0"}}<div style="color:white">{{$newevents}}</div>{{end}}<i class="fa fa-flag" aria-hidden="true"></i> New {{.Pathway}} Notifications </button></span></a>
        </div>
    </div>
</div>

{{template "footer"}}{{end}}