{{define "pathwayoptions"}}
{{template "header"}}
{{$pw := .Pathway}}
{{$event := .}}
<div class="form-group">
    <label for="pathway">Pathway</label>
    <select class="form-control" id="pathway" name="pathway" value="{{.Pathway}}">
        {{range .EventServices.Pathways.Pathways}}
        {{if eq . $pw}}
        <option selected>{{$event.GetMappedId .}}</option>
        {{end}}
        {{if ne . $pw}}
        <option>{{$event.GetMappedId .}}</option>
        {{end}}
        {{end}}
    </select>
</div>
{{template "footer"}}{{end}}