{{define "snip_workflow_header"}}
<div class="container-fluid">
    <div class="center-block">
        <div class="row">
            <div class="col-sm-1">
                <label style="text-align: center;color: blue" for="user">Conf Code</label>
                <p id="user" name="user">{{.WorkflowDefinition.Confidentialitycode}}</p>
            </div>
            <div class="col-sm-2">
                <label style="text-align: center;color: blue" for="user">Opened By</label>
                <p id="user" name="user">{{.XDWWorkflowDocument.Author.AssignedAuthor.AssignedPerson.Name.Prefix}} {{.XDWWorkflowDocument.Author.AssignedAuthor.AssignedPerson.Name.Family}}</p>
            </div>
            <div class="col-sm-2">
                <label style="text-align: center;color: blue" for="lupdt">Last Update</label>
                <p id="lupdt" name="lupdt">{{.LastUpdateTime}}</p>
            </div>
            <div class="col-sm-2">
                <label style="text-align: center;color: blue" for="comby">Complete By</label>
                <p id="comby" name="comby">{{.CompletionTime}}</p>
            </div>
            <div class="col-sm-1">
                {{if .IsWorkflowOverdue}}
                <label style="text-align: center;color: blue" for="overdue">Overdue</label>
                <p id="overdue" name="overdue" style="color: rgb(255, 170, 0)"><i class="fa fa-thumbs-down"></i> YES</p>
                {{else}}
                <label style="text-align: center;color: blue" for="overdue">Overdue</label>
                <p id="overdue" name="overdue" style="color: green"><i class="fa fa-thumbs-up"></i> NO</p>
                {{end}}
            </div>
            <div class="col-sm-2">
                <label style="text-align: center;color: blue" for="comby">Time Remaining</label>
                <p id="comby" name="comby">{{.WorkflowTimeRemaining}}</p>
            </div>
        </div>
    </div>
</div>

{{end}}