{{define "snip_workflow_col_patient"}}
<h3 class="text-center" style="color: darkblue;">{{mappedid .Pathway}}</h3>
<a href="#" onclick="togglePatient()">
    {{if eq .XDWWorkflowDocument.WorkflowStatus "COMPLETE"}}
    <h5 class="text-center" style="color: green;">{{.PatientDetails.GivenName}} {{.PatientDetails.FamilyName}}</h5>
    {{end}} 
    {{if eq .XDWWorkflowDocument.WorkflowStatus "IN_PROGRESS"}}
    <h5 class="text-center" style="color: rgb(255, 174, 0);">{{.PatientDetails.GivenName}} {{.PatientDetails.FamilyName}}</h5>
    {{end}} 
    {{if eq .XDWWorkflowDocument.WorkflowStatus "CREATED"}}
    <h5 class="text-center" style="color: gray;">{{.PatientDetails.GivenName}} {{.PatientDetails.FamilyName}}</h5>
    {{end}} 
    {{if eq .XDWWorkflowDocument.WorkflowStatus "READY"}}
    <h5 class="text-center" style="color: rgb(239, 126, 220);">{{.PatientDetails.GivenName}} {{.PatientDetails.FamilyName}}</h5>
    {{end}}
</a>
<div class="text-center">
    {{template "snip_workflow_col_status" .}}
</div>
{{end}}