{{define "timelinewidget"}}
{{$event := .}}
{{$vers := .Vers}}
<div class="center-block">
    <div class="row">
        <div class="col-sm-12">
            <h5 style="text-align:center;color:darkblue">{{.GetMappedId .Pathway}} Timeline for {{.NHSId}} Version {{.Vers}}</h5>
        </div>
    </div>
    {{template "horizontalline"}}
    <div class="row">
        <div class="col-sm-12">
            <div style="display:inline-block;width:100%;overflow-y:auto;margin-left: 2%;">
                <ul class="timeline">
                    {{range $k,$t := .XDWWorkflowDocument.TaskList.XDWTask}}
                    <li class="timeline-item">
                        <a href="{{$event.EventServices.EventService.EventUrl}}?act=widget&task=xdw&taskid={{$t.TaskData.TaskDetails.ID}}&pathway={{$event.Pathway}}&nhs={{$event.NHSId}}&vers={{$vers}}&user={{$event.EventServices.EventService.User}}&org={{$event.EventServices.EventService.Org}}&role={{$event.EventServices.EventService.Role}}"
                            target="workflowItem">
                        {{if $event.IsTaskOverdue $t.TaskData.TaskDetails.ID}}
                            <div class="timeline-badge warning"><i class="fa fa-thumbs-down"></i></div>
                        {{else}}
                            {{if eq $t.TaskData.TaskDetails.Status "COMPLETE"}}
                                <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i></div>
                            {{else}}
                                <div class="timeline-badge primary"><i class="fa fa-thumbs-up"></i></div>
                            {{end}}
                        {{end}}
                        </a>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="timeline-title">Task {{$t.TaskData.TaskDetails.ID}} {{$t.TaskData.Description}}</h5>
                            </div>
                            <div class="timeline-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Task Duration</label>
                                        <p>{{$event.TaskDuration $t.TaskData.TaskDetails.ID}}</p>                               
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Current Owner</label>
                                        <p>{{$t.TaskData.TaskDetails.ActualOwner}}</p>                            
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Activation Time</label>
                                        <p>{{$t.TaskData.TaskDetails.ActivationTime}}</p>
                                    </div>
                                    <div class="col-sm-6">
                                        {{if eq $t.TaskData.TaskDetails.Status "COMPLETE"}}
                                            <label>Completed On</label>
                                        {{else}}
                                            <label>Updated</label>
                                        {{end}}
                                        <p>{{$t.TaskData.TaskDetails.LastModifiedTime}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{end}}