{{define "workflows"}} 
{{ template "header" .}}
{{$url := .EventServices.EventService.EventUrl}}
{{$saml:= .SAML}}
{{$usr := .EventServices.EventService.User}}
{{$org := .EventServices.EventService.Org}}
{{$role := .EventServices.EventService.Role}}
{{$pw := .Pathway}}
{{$nhsid := .NHSId}}
{{$event := .}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <hr></hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 style="text-align:center;color:darkblue">{{.GetMappedId $pw}} Workflows {{$nhsid}}</h3>
        </div>
    </div>
    {{range .XDWDocuments}}
    <div class="row">
        <div class="col-sm-1">
            <label style="color:blue" for="nhsid">NHS ID</label>
            <p id="nhsid" name="nhsid">{{.NHSId}}</p>
        </div>
       <div class="col-sm-2">
            <label style="color:blue" for="pwy">Pathway</label>
            <p id="pwy" name="pwy">{{$event.GetMappedId .Pathway}}</p>
        </div>
         <div class="col-sm-2">
            <label style="color:blue" for="created">Opened</label>
            <p id="created" name="created">{{.Created}}</p>
        </div>
        <div class="col-sm-2">
            <label style="color:blue" for="xdwkey">XDW Key</label>
            <p id="xdwkey" name="xdwkey">{{.XDW_Key}}</p>
        </div>
        <div class="col-sm-1">
            <label style="color:blue" for="status">Status</label>
            <p id="status" name="status">{{.Status}}</p>
        </div>
        <div class="col-sm-1">
            <label style="color:blue" for="published">Published</label>
            <p id="published" name="published">{{.Published}}</p>
        </div>
        <div class="col-sm-1">
            <label style="color:blue" for="version">Version</label>
            <a href="{{$url}}?act=widget&task=xdw&pathway={{.Pathway}}&nhs={{.NHSId}}&vers={{.Version}}&user={{$usr}}&org={{$org}}&role={{$role}}" target="workflowItem"><p id="version" name="version">{{.Version}}</p></a>
        </div>
        {{if eq .Status "CLOSED"}}
        <div class="col-sm-2">
            <label style="color:blue" for="duration">Workflow Duration</label>
            <p id="version" name="version">{{$event.ElapsedTime .}}</p></a>
        </div>
        {{end}}
    </div>
    {{template "horizontalline"}}
    {{end}}
</div>    
</tbody>
{{ template "footer"}} 
{{end}}