{{define "workflow"}}{{template "header" .}}{{$event := .}}
{{template "horizontalline"}}
<div class="container-fluid">
     <div class="row">
        {{if eq .XDWWorkflowDocument.WorkflowStatus "COMPLETE"}}
        <div class="col-sm-4">
            {{if not (workflowpublished .)}}
            <a href="{{.EventServices.EventService.EventUrl}}?act=widget&task=xdw&op=publish&pathway={{.Pathway}}&nhs={{.NHSId}}&id={{.RowId}}&user={{.EventServices.EventService.User}}&org={{.EventServices.EventService.Org}}&role={{.EventServices.EventService.Role}}&saml={{.SAML}}"><i class="fa fa-repeat"></i> Publish Workflow</a>
            {{else}}
            <h6 style="color: darkgreen;"><i class="fa-solid fa-cloud-arrow-up"></i>Workflow Is Published to HIE</h6>
            {{end}}
        </div>
        {{else}}
        <div class="col-sm-4">
            <a href="#" onclick="togglePatient()"><i class="fa fa-tasks"></i> Toggle Patient Details</a>
        </div>
        {{end}}
        <div class="col-sm-3">
            <a href="#" onclick="toggleTimeline()"><i class="fa fa-tasks"></i>Toggle Timeline</a>
        </div>
        <div class="col-sm-3">
            <a href="#" onclick="toggleXDW()"><i class="fa fa-tasks"></i>Toggle XDW</a>
        </div>
    </div>
    <div class="row" id="patientDIV">
        <div class="col-sm-12">
            {{if eq .EventServices.EventService.PatientSrvc "pixm"}} {{template "pixmpatient" .}} {{else}} {{template "pixpatient" .}} {{end}}
        </div>
    </div>
    <div class="row" id="timelineDIV">
        <div class="col-sm-12">
            {{template "timelinewidget" .}}
        </div>
    </div>
    <div class="row" id="xdwDIV">
        <div class="col-sm-12">
            {{template "snip_workflow_header" .}}
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        toggleXDW();
        toggleTimeline();
    });
</script>
<script>
    function togglePatient() {
        var x = document.getElementById("patientDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("xdwDIV").style.display = "none"
            document.getElementById("timelineDIV").style.display = "none"
        } else {
            x.style.display = "none";
        }
    }
</script>
<script>
    function toggleXDW() {
        var x = document.getElementById("xdwDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("patientDIV").style.display = "none"
            document.getElementById("timelineDIV").style.display = "none"
        } else {
            x.style.display = "none";
        }
    }
</script>
<script>
    function toggleTimeline() {
        var x = document.getElementById("timelineDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("patientDIV").style.display = "none"
            document.getElementById("xdwDIV").style.display = "none"
        } else {
            x.style.display = "none";
        }
    }
</script>
{{template "footer" .}}{{end}}